@media screen  and (max-width: 1200px){

	div.header__logoRectangle{
		left:47%; 
    }
    div.work{
        height:1600px;
    }
	div.work__pict{
        grid-template-rows: 359px 359px 359px;
        grid-template-columns: 370px 370px ;
    }

    div.work__pict3{
        grid-row: 3/4;
        grid-column: 1/2;
        
    }
    div.work__pict6{
        grid-row: 3/4;
        grid-column: 2/3;
    }
    div.team{
        height: 1800px;
    }
    div.team__pict{
        grid-template-rows: 440px 440px 440px;
        grid-template-columns: 370px 370px ;
    }
    div.team__pict3{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    div.team__pict6{
        grid-row: 3/4;
        grid-column: 2/3;
    }

    div.container{
        flex-direction: column;
        align-items: center;
    }
    div.contact{
        height:1100px;
        padding-top:0px;
    }
    div.contact__map{
        margin-top: 20px;
    }

}

@media screen  and (max-width: 1000px){
    div.header__img{
        display: none;
    }
    div.header__text{
        font-size: 30px;
    }
    div.header__textReqt1, div.header__textReqt2{
        display: none;
    }
    div.aboutUs__contentPictText{
        text-align: justify;
        padding-right: 20px;
        padding-left: 10px;
    }
}
    @media screen  and (max-width: 800px){
    div.aboutUs{
        height: 1400px;
    }
    div.aboutUs__contentPict{
        flex-direction: column;
    }
    div.aboutUs__contentPictText{
        margin: 0 auto;
    }
    div.aboutUs__contentPict>img{
        margin: 0 auto;
    }
    div.header__text{
        font-size: 20px;
    }
    div.aboutUs__contentHeader>p{
        font-size: 15px;
    }
    div.work__title>p{
        font-size: 15px;
    }
    div.team__contentHeader>p {
        font-size: 15px
    }
    div.team__pict{
        grid-template-rows: 360px 360px 360px 360px 360px 360px;
        grid-template-columns: 300px ;
    }
    div.team__pict1{
       
        background-size: contain;
    }
    div.team__pict2{
        grid-row: 2/3;
        grid-column: 1/2;
        background-size: contain;
    }
    div.team__pict3{
        grid-row: 3/4;
        grid-column: 1/2;
        background-size: contain;
    }
    div.team__pict4{
        grid-row: 4/5;
        grid-column: 1/2;
        background-size: contain;
    }
    div.team__pict5{
        grid-row: 5/6;
        grid-column: 1/2;
        background-size: contain;
    }
    div.team__pict6{
        grid-row: 6/7;
        grid-column: 1/2;
        background-size: contain;
    }
    div.team{
        height: 2550px;
    }

    div.work__pict{
        grid-template-rows:  290px 290px 290px 290px 290px 290px;
        grid-template-columns: 299px ;
    }
    div.work__pict1{
        background-size: contain;
    }
    div.work__pict2{
        grid-row: 2/3;
        grid-column: 1/2;
        background-size: contain;
    }
    div.work__pict3{
        grid-row: 3/4;
        grid-column: 1/2;
        background-size: contain;
    }
    div.work__pict4{
        grid-row: 4/5;
        grid-column: 1/2;
        background-size: contain;
    }
    div.work__pict5{
        grid-row: 5/6;
        grid-column: 1/2;
        background-size: contain;
    }
    div.work__pict6{
        grid-row: 6/7;
        grid-column: 1/2;
        background-size: contain;
    }
    div.work{
        height:2150px;
    }
}

@media screen  and (max-width: 620px){
   body{
       width: 100%;
   };
    div.aboutUs__contentHeader>p,div.work__title>p, div.work__title>p {
        display: none;
    }
    body > div.header > div{
        width: 100%;
        margin-left: 0px;
        position: static;
        padding-top: 50px;
    }
    div.header__logoRectangle{
        margin: 0 auto;
        position: static;
    }
    div.header__button {
        left: 15%;
        top:34%;
    }
    div.header{
        height: 619px;
    }
    div.header__text{
        top:21.8%;
    }
    
    div.container{
        width: 100%;
    }
    div.contact__form, div.contact__map{
        width: 95%;
    }
    div.contact__map{
        margin-left: 0px;
        height:250px;
    }
    #yandex__map{
        display: none;
    }
    div.team{
        padding-top: 50px;
    }


    
    
    div.aboutUs{
        padding-top: 60px;
        height: 1200px;
    }
    div.aboutUs__contentPict{
        margin-top: 50px;
    }
    div.aboutUs__contentPict>img{
        width: 95%;
    }
    div.aboutUs__contentPictText{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: 600px;
    }

    div.work{
        padding-top:60px;
    }
    div.work__title>h3 {
        line-height: 40px;
    }
    div.work__pict {
        padding-top: 60px;
    }
    div.ft__container {
        width: 100%; 
        margin-left: 0px;
         position: static; 
        left: 0%;
    }
}